body{
    background: rgb(248, 235, 180);  /* Cor de fundo */
    font: normal 19px ;  /**/
}

header {
    color: black;/*cor da fonte */
    text-align: center;/**/
}

section {
    background: white;/*cor de fundo */
    color: darkgreen;
    border-radius: 15px;/*bordas arredondadas*/
    padding: 15px;/*espaço entre o texto e a borda*/
    width: 290px;/*largura*/
    margin: auto;/*centralizar a div no meio da tela*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);/* sobreamento e cor*/
}

footer {
    color: rgb(0, 0, 0);/* cor da fonte */
    text-align: center;/* centralizar texto*/
    font-style: italic; /* fonte itálica */
}
  
input[type=submit] {
    align-content: center;
    width: 95%;
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=number] {
    align-content: center;
    width: 82%;
    background-color: rgb(156, 154, 154);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-color: black;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
label {
    text-align: center;
}