body{
    background: rgb(213, 232, 234);  /* Cor de fundo */
    font: normal 15px ;  /**/
}

header {
    color: rgb(0, 0, 0);/*cor da fonte */
    text-align: center;/**/
}

section {
    background: white;/*cor de fundo */
    border-radius: 15px;/*bordas arredondadas*/
    padding: 15px;/*espaço entre o texto e a borda*/
    width: 345px;/*largura*/
    margin: auto;/*centralizar a div no meio da tela*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);/* sobreamento e cor*/
}

footer {
    color: white;/* cor da fonte */
    text-align: center;/* centralizar texto*/
    font-style: italic; /* fonte itálica */
}

div {
    border-width: 2px; /* Estiliza a sua largura */
    border-style: solid; /* Estiliza seu estilo */
    border-color:  rgb(255, 106, 0); /* Estiliza sua cor */
}



p {
    font-style: italic;
}

.ranges {
    position: relative;
    display: block;
    text-align: center;
    font-size: 6em;
    color: #999;
    width: 85%;
    height: 4px;
    margin-top: 10px;
}