body{
    background: rgb(126, 230, 227);  /* Cor de fundo */
    font: normal 15px ;  /**/
}

header {
    color: white;/*cor da fonte */
    text-align: center;/**/
}

section {
    background: white;/*cor de fundo */
    border-radius: 15px;/*bordas arredondadas*/
    padding: 15px;/*espaço entre o texto e a borda*/
    width: 500px;/*largura*/
    margin: auto;/*centralizar a div no meio da tela*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);/* sobreamento e cor*/
    margin-top: 5px;
}

footer {
    color: white;/* cor da fonte */
    text-align: center;/* centralizar texto*/
    font-style: italic; /* fonte itálica */
}

div {
    font-size: 19px;
    margin-top: 5px;

}


input[type=submit] {
    width: 490px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=number] {
    width: 450px;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-color: black;
}

input[type=submit]:hover {
    background-color: #45a049;
}